gestaoClientesWeb/Connected Services/gestaoClientesService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/gestaoClientes/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" />
  <xs:element name="ListTipoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="ListTipoClienteResult" nillable="true" type="q1:ArrayOftipoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSituacaoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSituacaoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="ListSituacaoClienteResult" nillable="true" type="q2:ArrayOfsituacaoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="ListClienteResult" nillable="true" type="q3:ArrayOfcliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="novoCliente" nillable="true" type="q4:cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="GetClienteResult" nillable="true" type="q5:cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/gestaoClientesSvcLib" minOccurs="0" name="novoCliente" nillable="true" type="q6:cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>